.game{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.game-info{
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
